<div class= 'new_video_div'>

  <p class= 'username'>
    <%= if signed_in?
         current_user.username + '(Admin)' if current_user.admin?
    end%>
  </p>

  <p>
    Upload Video
    <%= form_for(@video) do |f|%>
	  <%= f.text_field :url, placeholder: 'Youtube Embedded Url', class: 'field' %>
	  <%= f.text_field :caption, placeholder: 'Video Caption', class: 'field' %>
	  <%= f.submit 'Submit', class: 'submit' %>
    <% end %>
  </p>
</div>
