<div class= 'new_video_div'>

  <p class= 'username'>
    <%= if signed_in?
         current_user.username + '(Admin)' if current_user.admin?
    end%>
  </p>

  <p>
    Embed Video 
    <%= form_for(@video) do |f|%>
	  <%= f.text_area :url, placeholder: 'Youtube Embedded Url', class: 'area' %>
	  <%= f.text_area :caption, placeholder: 'Video Caption', class: 'area', id: 'caption_field' %>
	  <%= f.submit 'Submit', class: 'submit' %>
    <% end %>
  </p>
</div>
