<body>

  <%= if signed_in?
      	link_to 'Log Out', log_out_path,  class: 'sign_out', method: :delete
      else
        link_to 'Log In', log_in_path
  end %>

  <p class= 'username'>
    <%= if signed_in?
          current_user.username
    end %>
    <%= if signed_in?
         '(Admin)' if current_user.admin?
    end%>

      <%= if signed_in?
        link_to 'Upload Video', new_video_path, class: 'new_video' if current_user.admin?
      end%>
  </p>

  <h1 class= 'notnice_h1'>
    <div>
       <ul class= 'video_ul'>
        <%- @videos.reverse_each do |video| %>
          <%= video.url.html_safe %>
           <p>
            <%= if signed_in? 
                  link_to 'Delete Video', delete_path, method: :delete, class: 'delete' if current_user.admin?
            end %>
        <% end %>
       </ul>
    </div>
  </h1>

</body>
