<body>

  <%= if signed_in?
      	link_to 'Log Out', log_out_path,  class: 'sign_out', method: :delete
      else
        link_to 'Log In', log_in_path
  end %>

  <p class= 'username'>
    <%= if signed_in?
          current_user.username
    end %>
    <%= if signed_in?
         '(Admin)' if current_user.admin?
    end%>

      <%= if signed_in?
        link_to 'Upload Video', new_video_path, class: 'new_video' if current_user.admin?
      end%>
  </p>

  <h1 id= 'notnice_h1'>
    Videos:
    <ul class= 'video'>
      <%- @videos.each do |video| %>
        <%= video.url.html_safe %>
      <% end %>
    </ul>
  </h1>

</body>
