%div
  - if signed_in?
    = link_to 'Log Out', log_out_path,  class: 'sign_out', method: :delete
  - else
    = link_to 'Log In', log_in_path

  %p.username
    - if signed_in?
      = current_user.username
      = '(Admin)' if current_user.admin?
      = link_to 'Embed Video', new_video_path, class: 'new_video' if current_user.admin?

%div
  %ul.video_ul
    - @videos.reverse.each do |video|
      = video.url.html_safe
      %div.comment_div
        %p.caption
          %span.caption_username #{video.user.username} :
          %span.caption_text= video.caption

          %p.comment
            - video.comments.each do |comment|
              %p.comment
                %span.comment_username #{comment.user.username} :
                %span.comment_text= comment.comment
                - if signed_in?
                  =link_to 'Delete Comment?', delete_comment_path, method: :delete, class: 'delete', id: 'delete_comment' if current_user.admin?
            %span
              = form_for(@comment) do |f|
                - if signed_in?
                  = f.text_field 'comment', placeholder: 'Comment?', class: 'field'
                  = f.hidden_field  :video_id, value: video.id
                  = f.submit 'Post', class: 'submit'
            = link_to 'Delete Video?', delete_video_path, method: :delete, class: 'delete' if current_user.admin?
